@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Orbitron&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    border: 1px solid black;
    height: 60%;
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #555;
    min-width: 375px;
    max-width: 375px;
    max-height: 562px;
    min-height: 562px;
}


#display {
    border: 1px solid black;
    /* height: 22%; */
    height: 100px;
    width: 90%;
    margin-top: 15px;
    background: #f4f4f4;
    display: flex;
    font-size: 4rem;
    align-items: flex-end;
    justify-content: flex-end;
}

#display #display-text {
    padding-right: 15px;
    max-width: 100%;
}

#key-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 95%;
    padding: 15px 0;
    gap: 9px; 
}

#key-container .key-row {
    width: 95%;
    display: flex;
    justify-content: space-between;
    height: 20%;
    gap: 9px;
}

#key-container .key-row button {
    flex: 1;
    text-align: center;
    padding: 2px;
    font-size: 2.5rem;
    font-weight: 200;
    border: none;
    border-radius: 5%;
}

#key-container .key-row button:hover {
    background: #969696;
}

#key-container .key-row #clear {
    flex: 2;
}

